.portfolio-intro {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #0a0a0a;
  overflow: hidden;
}

.portfolio-intro-text {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: top left;
  max-width: calc(100vw - 2rem);
  text-align: center;
}

.portfolio-intro-text .fold-text {
  white-space: nowrap;
  
}

@media (max-width: 480px) {
  .portfolio-intro-text {
    max-width: calc(100vw - 1.5rem);
  }

  .portfolio-intro-text .fold-text {
    white-space: nowrap;
    font-size:50px;
  }

}
